@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
}

main {
  width: 100vw;
  height: 100vh;
  background: url("./images/bg01.jpg"), no-repeat;
  background-size: cover;
  background-position: center;
  header {
    text-align: center;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 100px;
      width: 100px;
      border-radius: 100%;
      border: 2px solid white;
      box-shadow: -5px 6px 7px #000d;
    }
    a h1 {
      margin-top: 10px;
      padding: 2px 6px;
      border-radius: 0.8em;
      border: 1px solid #fffa;
      font-size: 1em;
      background: #000a;
      color: white;
      box-shadow: -3px 5px 3px #000b;
    }
  }
  .buttons {
    margin-top: 2.3em;
    ul {
      list-style: none;
      text-align: center;
      a li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        -wibkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        padding: 1em;
        margin: 1em auto;
        max-width: 300px;
        background-color: #fffa;
        border-radius: 1.1em;
        font-size: 1.1em;
        font-weight: 700;
        box-shadow: -3px 5px 3px #000b;
        transition: all 700ms;
      }

      img {
        width: 1.8em;
      }
    }
    li:hover {
      transform: scale(1.04);
    }
  }
}
